* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

.tabcontent {
    background-color: seagreen;
    padding: 0px;
    height: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: snow;
    text-shadow: 0 0 5px black;
    overflow: hidden;
}

.tabcontent.active {
    height: 250px;
    padding: 20px;
}

#tablist {
    display: flex;
    width: 100%;
}

.tab-btn:hover {
    background-color: darkgray;
    cursor: pointer;
}

.tab-btn {
    background-color: silver;
    border: 0;
    font-size: 18px;
    flex: 1;
    padding: 15px;
    font-size: 25px
}

#html,
.active[data-lang='html'] {
    background-color: salmon;
}

#css,
.active[data-lang='css'] {
    background-color: darkslateblue;
}

#js,
.active[data-lang='js'] {
    background-color: darkorange;
}

#php,
.active[data-lang='php'] {
    background-color: darkmagenta;
}